<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/modal.css">
    <script src="/resources/script.js"></script>
</head>
<body>
    <div class="topbar">
        <div class="logo">
            <img src="/assets/images/elastic-logo.png">
        </div>
        <a href="#context">Contexto</a>
        <a href="#resultados">Resultados</a>
        <a href="#issues">Issues</a>
    </div>

    <div id="context" class="context-section">
        <div class="context-logo">
            <img src="/assets/images/Elasticsearch_logo.svg.png" alt="Elasticsearch Logo">
        </div>
        <h1>Contexto</h1>
        <p>
            O Elasticsearch é um mecanismo de busca e análise RESTful open source distribuído, 
            armazenamento de dados escalável e banco de dados de vetores capaz de atender a um 
            número crescente de casos de uso. Como elemento central do Elastic Stack, ele 
            armazena seus dados centralmente para proporcionar busca rápida, relevância com 
            ajuste fino e analítica poderosa que pode ser ampliada com facilidade.
        </p>
    </div>

    <div id="resultados">
        <h1>Resultados</h1>
        <p>Analise das issues coletadas do projeto do Elasticsearch.</p>
        <h2>Quantidade de issue por catergoria</h2>
        <canvas id="all-Issues"></canvas>
        <h2>Issue ao longo do tempo</h2>
        <canvas id="weekly-Issues"></canvas>
    </div>

    <div id="issues" class="issues-section">
        <h2 >Lista de Issues</h2>
        <table id="issuesTable" class="display">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Classificação</th>
                    <th>Data de fechamento</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </div>

    <div id="issueModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Detalhes da Issue</h2>
            <p><strong>Id:</strong> <span id="modal-issue-id"></span></p>
            <p><strong>Título:</strong> <span id="modal-title"></span></p>
            <p><strong>Descrição:</strong> <span id="modal-body"></span></p>
            <p><strong>Classificação:</strong> <span id="modal-related-topic"></span></p>
            <p><strong>Data de fechamento:</strong> <span id="modal-closed-at"></span></p>
            <p><strong>Data de criação:</strong> <span id="modal-created-at"></span></p>
            <p><strong>Tempo de resolução em dias:</strong> <span id="modal-resolution-time"></span></p>
            <p><strong>Autor:</strong> <span id="modal-author"></span></p>
            <p><strong>Análise:</strong> <span id="modal-analysis"></span></p>
        </div>
    </div>
</body>
</html>